body {
  height: 100%;
  margin: 0 auto;
  background: #e4e6e9;
  padding-left: 20px;
}

h1 {
        font: 23px/25px 'roboto-cond-reg', Arial, Helvetica, sans-serif;
        color: #1c1c1c;
        margin: 0 0 40px;
        padding: 20px 0 0;
        text-transform: uppercase;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
